*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    width: 100%;
}

.secao-logo {
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0px;
}

.secao-capa{
    background-image: url('./assets/capa.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 70vh;
    object-fit: cover;
}

.limita-texto {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    font-size: 25px;
}

.secao-principal {
    max-width: 1024px;
    margin: 0 auto;
    padding: 45px 0px;
    text-align: center;
    font-size: 18px;
}

.galeria-imagens {
    display: flex;
    justify-content: space-between;
    padding: 35px 0px;
}

.galeria-imagens img {
    height: 250px;
    width: calc(33% - 15px);
    box-shadow: 3px 3px 5px 2px gray;
}

.secao-imagem {
    background-image: url('./assets/fundo.jpg');
    background-attachment: fixed;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secao-imagem a {
    text-decoration: none;
    font-size: 25px;
    color: black;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
    opacity: 80%;
}

.secao-texto {
    max-width: 1024px;
    padding: 50px 40px;
    margin: 0 auto;
}

.secao-texto h2 {
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
}



@media (max-width: 820px) {
    .secao-texto {
        padding: 20px 50px;
    }

    .limita-texto {
        padding: 0px 30px;
    }
}

@media (max-width: 540px) {
    .secao-capa {
        background-size: cover;
        height: 30vh;
        width: 100%;
    }

    .galeria-imagens {
        flex-direction: column;
        align-items: center;
    }

    .secao-principal {
        padding: 30px 10px;
        font-size: 17px;
    }

    .galeria-imagens img {
        width: 90%;
        margin: 20px 0px;
    }

    .secao-logo {
        font-size: 12px;
    }

    .limita-texto {
        font-size: 13px;
        padding: 0 10px;
    }

    .secao-texto {
        font-size: 14px;
    }

    .secao-texto h2 {
        font-size: 20px;
    }
}